name: Build Docker Image

on:
push:
branches: [ "main" ]
workflow_dispatch:
schedule:
- cron: "0 3 * * *"

jobs:
build:
runs-on: ubuntu-latest

```
steps:
  - uses: actions/checkout@v4

  - uses: docker/setup-buildx-action@v3

  - uses: docker/login-action@v3
    with:
      registry: ghcr.io
      username: \${{ github.actor }}
      password: \${{ secrets.GITHUB_TOKEN }}

  - uses: docker/build-push-action@v5
    with:
      context: .
      push: true
      tags: ghcr.io/xhlydz/qq-farm-bot-ui:latest
```
